<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrackMe" publicKeyToken="null" culture="neutral"/>
        <bindingRedirect oldVersion="1.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
        
        <!--Face with the assembly not found issue, don't know why, added this workaround to find the assembly. need to specify direct pass.-->
        <codeBase version="1.0.0.0" href="file:///F:\Dev\epam mentoring d2-d3\mentoring tasks\Mentoring_Debugging\NameGen\NameGen\bin\Debug\CrackMe.exe.dll"/>
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>