<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="FilesInputDirectory" value=".\input"/>
      <add key="ImagesInputDirectory" value=".\input\images"/>
      <add key="FilesOutputDirectory" value=".\output"/>

      <add key="BlobContainerName" value="mentoringwinserviceblobs"/>
      <add key="BlobFolderName" value="output"/>
      <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ykupreyeustorage;AccountKey=6Y6xIEEgoAcOJr5RFSyB6AxtG8eK4W3K3xp1SZ0gXdNnMnjcXh88akyHVpQEEX0cWeKFkvLGi99DXNGx7ENS/g==;EndpointSuffix=core.windows.net"/>

      <add key="MsmqSingleFileQueueName" value=".\private$\documentqueue"/>
      <add key="MsmqImageSetQueueName" value=".\private$\imagesetqueue"/>
    </appSettings>
</configuration>